extends layout

block content
     .container
      h1 About Us
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      ul
        li dhaka
        li ctg
        li sylet
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.