extends layout

block content
     .jumbotron
      .container
       h1 Hellow osman Forhad
       p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
       a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
     .container
       .row
        .col-md-4
         h2 About Us
         p It is a long established fact that a reader will be distracted by the readable content 
         a.btn.btn-default(href='#') View Details
        .col-md-4
         h2 Services
         p It is a long established fact that a reader will be distracted by the readable content 
         a.btn.btn-default(href='#') View Details
        .col-md-4
         h2 Get In Touch
         p It is a long established fact that a reader will be distracted by the readable content 
         a.btn.btn-default(href='#') View Details